body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1px;
}

header {
    background: linear-gradient(300deg, #f6f9fc, #f6f7f7, #bbbbbc);
    animation: gradient-animation 5s ease infinite;
    color: rgb(37, 37, 37);
    text-align: center;
    text-shadow: 0 0 3px #f2eeee, 0 0 5px #1c1c1d;
    padding: 3px;
}


nav ul {
    list-style-type: none;
    margin: 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 5px 0;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-shadow: 0 0 1px #b9b9bb;
    box-shadow: 0px 10px 10px 0px rgba(222, 219, 219, 0.5);
    text-decoration: none;
    background-color: transparent;
    color: rgb(8, 8, 8);
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #45a049;
}

bd {
    display: flex;
    flex-direction:row;
    margin: 10%;
    margin-top: 5%;
}

img{
    margin-left: 30%;
    height: 40%;
    width: 40%;
}

.form-container {
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 5px;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container form label {
    display: inline-block;
    margin-bottom: 10px;
}

.form-container form input[type="text"],
.form-container form input[type="number"],
.form-container form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container form button[type="submit"]:hover {
    background-color: #45a049;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}
.data-box {
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* CSS for the filter form */
#filterForm {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#filterForm input[type="text"],
#filterForm select {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#filterForm button[type="submit"] {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#filterForm button[type="submit"]:hover {
    background-color: #45a049;
}
